#rooms-page{
  margin: 0 20px;
}
#rooms-page h1{
  margin-bottom: 40px;
}

#rooms-page button{
  padding: 10px;
  background-color: #dfdfdf;
  border: 2px solid black;
  margin-bottom: 40px;
}

.rooms{
  display: flex;
  flex-wrap: wrap;
}

.room{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:  250px;
  height: 300px;

  margin: 0 30px 20px 0;
  border: 2px solid black;

  text-align: center;
}
.join-btn{
  width: 80px;
  margin: 0 auto;
}

#game-page{
  padding: 40px;
}
.bot-container{
  position: absolute;
  top: 40px;
  right: 10px;
  width: 200px;
}
.bot-container img{
  width: 100px;
}
.game-container{
  display: flex;
  height: 80%;
  width: 80%;
}
.game-container .side-bar{
  flex: 1;
  padding: 10px;
}
.game-container .game-area{
  position: relative;
  flex: 5;
  border: 2px solid gray;
}
.game-container .game-area button{
  font-size: 26px;
  width: 200px;
  height: 100px;
  background-color: #ebebeb;
  border: 2px solid gray;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.game-container .side-bar h2{
  margin-bottom: 40px;
}
.game-container .side-bar #back-btn{
  text-align: center;
  padding: 5px 10px;
  background-color: #ebebeb;
  margin-bottom: 120px;
}
.user-wrapper{
  text-align: center;
  background-color: #ebebeb;
  margin-bottom: 20px;
  height: 40px;
  width: 200px;
  font-size: 20px;
  font-weight: 500;
}
.user-wrapper p{
  padding: 0 10px;
}
.user-status{
  color:green;
}
.text{
  padding: 20px;
  font-size: 18px;
}
#timer{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#completed{
  background-color: #72c0f7
}

.progress-bar{
  height: 30px;
}

#game-timer {
  padding: 10px;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 0;
}